
{% set jquery_ui_accordion_core = path('deprecated_libraries.core.jquery_ui_accordion') %}
{% set jquery_ui_accordion_contrib = path('deprecated_libraries.contrib.jquery_ui_accordion') %}

{% set jquery_ui_checkboxradio_core = path('deprecated_libraries.core.jquery_ui_checkboxradio') %}
{% set jquery_ui_checkboxradio_contrib = path('deprecated_libraries.contrib.jquery_ui_checkboxradio') %}

{% set jquery_ui_controlgroup_core = path('deprecated_libraries.core.jquery_ui_controlgroup') %}
{% set jquery_ui_controlgroup_contrib = path('deprecated_libraries.contrib.jquery_ui_controlgroup') %}

{% set jquery_ui_droppable_core = path('deprecated_libraries.core.jquery_ui_droppable') %}
{% set jquery_ui_droppable_contrib = path('deprecated_libraries.contrib.jquery_ui_droppable') %}

{% set jquery_ui_progressbar_core = path('deprecated_libraries.core.jquery_ui_progressbar') %}
{% set jquery_ui_progressbar_contrib = path('deprecated_libraries.contrib.jquery_ui_progressbar') %}

{% set jquery_ui_selectable_core = path('deprecated_libraries.core.jquery_ui_selectable') %}
{% set jquery_ui_selectable_contrib = path('deprecated_libraries.contrib.jquery_ui_selectable') %}

{% set jquery_ui_selectmenu_core = path('deprecated_libraries.core.jquery_ui_selectmenu') %}
{% set jquery_ui_selectmenu_contrib = path('deprecated_libraries.contrib.jquery_ui_selectmenu') %}

{% set jquery_ui_slider_core = path('deprecated_libraries.core.jquery_ui_slider') %}
{% set jquery_ui_slider_contrib = path('deprecated_libraries.contrib.jquery_ui_slider') %}

{% set jquery_ui_spinner_core = path('deprecated_libraries.core.jquery_ui_spinner') %}
{% set jquery_ui_spinner_contrib = path('deprecated_libraries.contrib.jquery_ui_spinner') %}

{% set jquery_ui_tooltip_core = path('deprecated_libraries.core.jquery_ui_tooltip') %}
{% set jquery_ui_tooltip_contrib = path('deprecated_libraries.contrib.jquery_ui_tooltip') %}

{% set jquery_ui_effects_core = path('deprecated_libraries.core.jquery_ui_effects') %}
{% set jquery_ui_effects_contrib = path('deprecated_libraries.contrib.jquery_ui_effects') %}

{% trans %}

  <p>Drupal 8 has marked several libraries deprecated, which will be removed by Drupal 9.</p>
  <p>This module provides examples of implementations of these libraries for core and using contrib replacements for comparison:</p>
  <h2>jQueryUI</h2>
  <dl>
    <dt>jQuery UI Accordion</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_accordion_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_accordion_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Checkboxradio</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_checkboxradio_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_checkboxradio_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Controlgroup</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_controlgroup_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_controlgroup_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Droppable</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_droppable_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_droppable_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Progressbar</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_progressbar_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_progressbar_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Selectable</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_selectable_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_selectable_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Selectmenu</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_selectmenu_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_selectmenu_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Slider</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_slider_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_slider_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Spinner</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_spinner_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_spinner_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Tooltip</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_tooltip_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_tooltip_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>
  <dl>
    <dt>jQuery UI Effects</dt>
    <dd>
      <ol>
        <li><a href={{ jquery_ui_effects_core }}>Core (deprecated)</a></li>
        <li><a href={{ jquery_ui_effects_contrib }}>Contrib</a></li>
      </ol>
    </dd>
  </dl>

{% endtrans %}
